.detalle-container {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.imagen-container img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-comprar {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-comprar:hover {
  background-color: #0056b3;
}
