<div class="form-container">
    <h2>Editar Producto</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="producto.nombre" name="nombre" required>
      </div>
      <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" [(ngModel)]="producto.descripcion" name="descripcion">
      </div>
      <div>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" [(ngModel)]="producto.precio" name="precio" required>
      </div>
      <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" [(ngModel)]="producto.stock" name="stock" required>
      </div>
      <div>
        <label for="tipo">Tipo:</label>
        <select id="tipo" [(ngModel)]="producto.tipo" name="tipo" required>
          <option value="juego">Juego</option>
          <option value="tarjeta_regalo">Tarjeta Regalo</option>
        </select>
      </div>
      <div>
        <label for="imagen">Imagen (URL):</label>
        <input type="text" id="imagen" [(ngModel)]="producto.imagen" name="imagen">
      </div>
      <button type="submit" [disabled]="!producto.nombre || !producto.precio || !producto.stock || !producto.tipo">Actualizar Producto</button>
    </form>
  </div>
  